<div class="row">
	<div class="col-lg-3">
	<span class="glyphicon glyphicon-search"></span>	Search by Category: <select ng-model="sort" ng-options="cat as cat for cat in categories"></select>

	</div>
	<div class="col-lg-6">
		<span class="glyphicon glyphicon-search"></span> Search by name: <input ng-model="query">
	</div>
	<div class="col-lg-3">
		<a ng-href="/checkout">
			<button class="pull-right btn btn-danger">Checkout | Bag 
				<span class="badge">
					<ng-pluralize count="items.length"
			                 when="{'0': 'Empty!',
			                     'one': '1 Item',
			                     'other': '{} Items'}">
					</ng-pluralize>
				</span>
			</button>
			</a>
	</div>
</div>

<div class="row">
	<div class="rowBK col-lg-3">
		<h3>Tea</h3>
	</div>
	<div class="rowBK col-lg-9">
		<h3>Information</h3>
	</div>
</div>

<div class="row" ng-repeat="tea in teaList | orderBy: sort | filter:query">
	<div class="col-lg-3">
		<h4>{{tea.name}}</h4>
		<img ng-src="{{tea.imageUrl}}">
	</div>
	<div class="col-lg-9">

		<button class="btn btn-danger pull-right" ng-click="addTea(tea._id, quantity)">Add to Bag!</button>
		<div class="pull-right">Quantity: <select ng-model="quantity">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
			</select></div>

		<p><strong>Price </strong>: ${{tea.price}}</p>
		<p><strong>Caffeine Scale</strong>: {{tea.caffeineScale}}</p>
		<p><strong>Ingredients</strong>: {{tea.ingredients}}</p>
		<p><strong>Rating</strong>: {{tea.rating}}</p>
		<p ng-hide="{{tea.inStock==true}}"><strong>In Stock? </strong>No</p>
		<p ng-hide="{{tea.inStock==false}}"><strong>In Stock? </strong>Yes</p>
		<p><strong>Categories: </strong>
			<ul ng-repeat="category in tea.categories">
				<li>{{category}}</li>
				
			</ul>
		</p>
	</div>
</div>
