<table>
	<tr>
	<form>
		<td>Name<input type="text" ng-model="contact.name" autofocus></td>
		<td>Email<input type="text" ng-model="contact.email"></td>
		<td>Phone<input type="text" ng-model="contact.phone"></td>
		<td><button ng-click="addContact(contact)">Submit</button></td>
	</form>
		<td>Search <input ng-model="query">
		</td>
	</tr>
</table>
<div class="tableColor">
	<table>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>More Info</th>
			<th>Remove</th>
		</tr>
		<tr ng-repeat="contact in contactData | filter:query" >
			<td>{{contact.name}}</td>
			<td>{{contact.email}}</td>
			<td>{{contact.phone}} </td>
			<td><button ng-click="findContact(contact.id); findGif(contact.name); log()"><a ng-href="/show/{{contact.id}}">About {{contact.name}}</a></button></td>
			<td><button ng-click="removeContact(contact.id)">Remove {{contact.name}} from list</button></td>
		</tr>
	</table>
</div>