 <div>See my <a href="#Work">Work Experience</a> / <a href="#Pubs">Publications</a> / <a href="#Skillz">Skills</a> /  <a href="#Ed">Education</a> / <a href="#Comm">Community Engagement</a></div>
     <h2>
       <a name="Work"> Work Experience</a>
  </h2>
  
   <div class='left'><b>Galvanize Education</b>, <em>Full Stack Student</em></div>
   <div class='right'>April 2015 - October 2015</div>
   <br>
  <ul>
    <li>Six month full stack web development immersive concentrating in JavaScript and Ruby on Rails</li>
    <li>
    Curriculum includes languages, frameworks, and computer science fundamentals</li></ul>
  
    <div class='left'><b>Migration Policy Institute</b>, <em>Communications Specialist</em></div><div class='right'>July 2013 - January 2015</div>
      
     <br/>
    <ul>
        <li>
        Lead on-site website manager (content creation); conducted monthly analytics of site and managed online user experience
        </li>
        <li>
          Drafted press releases; wrote Facebook notes, Tweets, and LinkedIn updates; researched and wrote articles for award-winning online journal, the <em>Migration Information Source</em>
        </li>
        <li>
          Significant role in website redesign project for main site, online journal, and data tool 
        </li>
        <li>Designed and completed layout for new publications including books, reports, fact sheets, policy briefs, and marketing materials
      </li>
        <li>
          Recorded, produced, and posted audio and video files of events; aided in event set up and execution
        </li>
        <li>
          Secondary press contact; handled research inquiries; aggregated weekly media mentions ("clips")
        </li>
      </ul>
     <div class='left'> 
        <b>Migration Policy Institute</b>, <em>Communications Coordinator</em></div><div class='right'>December 2012 - July 2013</div><br/>
    <ul>
      <li>Maintained website; created photo archive; member of website redesign team
    </li>
      <li>Maintained database of supporters and contacts; maintained stock and inventory of printed materials, disseminated materials</li>
      <li>
        Record, produce, and post audio and video 
      </li>
      <li>Wrote Facebook notes; prepared summaries of past reports; aggregated media mentions weekly</li>
      </ul>  
   <div class='left'> <b>Freedman Consulting, LLC</b>, <em>Research Consultant</em></div><div class='right'>January 2013 - July 2013</div><br/>
    <ul>
      <li>Conducted background research on talent pipelines and push/pull factors to private and public sectors for technology fields</li>
      <li>Aided in analysis of media reaction to voter identification laws</li>
 
  </ul>
    <div class='left'><b>Goethe Institut</b>, <em>Reception/Security</em></div><div class='right'>January 2013 - January 2015</div><br/>
    <ul>
      <li>Weekend security guard/receptionist at Goethe Institut D.C. </li>
    </ul>
    <div class='left'><b>Bucks and Spurs Guest Ranch, </b> <em>Natural Horsemanship intern/Ranch Hand</em></div><div class='right'>June 2013 - August 2013</div><br/>
    <ul>
      <li>Aided with maintenance of working guest ranch, including horse training, cow herding, hay hauling, and guest services</li>
    </ul>
<div class='left'><b>Freedman Consulting, LLC</b>, <em>Research Fellow</em></div><div class='right'>September 2012 - March 2013</div><br/>
    <ul><li>Conducted research on political campaigns; helped concatenate policy research from 93 organizations for monthly release</li>
      <li>Assisted in daily poverty news promotion on Facebook and Twitter, tracked recent polls and news for poverty news website</li>
      <li>Researched and wrote a memo and report on how to apply properties of virality to the spread of ideas</li>
      <li>Designed and wrote report and brief about Americans’ opinions on poverty for panel presentation to 250 poverty stakeholders</li>
      <li>Helped develop proposals, projects, and events concerning poverty, education, and biofuels</li>
    </ul>
   <a href="#top">Back to top</a>
   <h2>
     <a name="Pubs">Publications</a>
  </h2>
   <ul>
     <li>Kilberg, Rebecca. “<a href="http://migrationpolicy.org/article/top-10-2014-issue-4-building-borders-around-ebola" target="_blank">Building Borders around Ebola</a>,” Migration Information Source, December 16, 2014.</li>
     <li>Kilberg, Rebecca. “<a href="http://migrationpolicy.org/article/turkeys-evolving-migration-identity" target="_Blank">Turkey's Evolving Migration Identity</a></span>,” Migration Information Source, July 25, 2014. 
     <li>Kerwin, Donald, Kate Brick and Rebecca Kilberg. “<a href="http://migrationpolicy.org/article/unauthorized-immigrants-united-states-and-europe-use-legalizationregularization-policy-tool" target="_blank">Unauthorized Immigrants in the United States and Europe: The Use of Legalization/Regulation as a Policy Tool</a>,” Migration Information Source, May 9 2012. </li></ul>
   <a href="#top">Back to top</a>
    <h2>
      <a name="Skillz">Skills</a>
  </h2>
   <ul>
     <li><strong>Languages</strong>: Proficient German, Intermediate French, Novice Turkish</li>
     <li><strong>Computer</strong>: Adobe Creative Suite, Dreamweaver, HTML, CSS, JavaScript, Express, Node.js, jQuery, Mongo DB, Mongoose, basic Java, basic GitHub, Drupal client-side, Audacity, Microsoft Office Suite, Salsa (CMS)<br/>
     Check out some of my projects on <a href="https://github.com/kilbergr" target="_blank">GitHub</a>!
       <a href="#top">Back to top</a>
</ul>
 <h2><a name="Ed">Education</a></h2>

  <div class="tab"><strong>University of Chicago</strong>, Chicago, IL<br/>
     Bachelor of Arts with College and Departmental Honors, June 11, 2011: Linguistics Major, Germanic Studies Minor <br/> Cumulative GPA: 3.78 /4.00</div><br/>
    <a href="#top">Back to top</a>

<h2><a name="Comm">Community Engagement</a></h2>
 <div class='left'><b>Women Who Code D.C.</b>, <em>Member</em>, Washington D.C.</div><div class='right'>March 2014 - Present</div><br/>
 <div class='left'><b>Boren Forum</b>, <em>WordPress Volunteer</em>, Washington D.C.</div><div class='right'>Nov 2014 - Dec 2014</div><br/> 
  <ul><li>	Repaired dropdown PayPal donation buttons; created business card form from contact plug-in and linked to PayPal account</li></ul>

<div class='left'><b>Multitude Berlin</b>, <em>Refugee Aid Volunteer</em>, Berlin</div><div class='right'>March 2012 - May 2012</div><br/>
<ul><li>Provided basic German language instruction and childcare weekly for asylum seekers and refugees in Germany	</li></ul>
<div class='left'><b>Fire Escape Films</b>, <em>Co-Chair</em>, University of Chicago</div><div class='right'>September 2007 - June 2011</div><br/>
<div class='left'><b>Chicago Weekly</b>, <em>Staff Writer</em>, University of Chicago</div><div class='right'>January 2010 - June 2011</div><br/><br/>
 <a href="#top">Back to top</a>